 <div class="row">
  <div class="col-md-10">
 <% @todo_lists.each do |todo_list| %>
  <div class="panel panel-success">

  <div class="panel-heading">
    It's about: <%= todo_list.title.humanize %>
  </div>
  <div class="panel-body" style="padding: 30px">
   <div class="row">
   

         
       </div>
   </div>
  </div>

  </div>

 <% end %>

 <i class="btn btn-success"><%= link_to 'New Todo list', new_todo_list_path %></i>

 </div>
</div>